[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
tortoise-orm = "*"
fastjson = "*"
asyncpg = "*"
loguru = "*"
pyyaml = "*"
argon2-cffi = "*"
graphql-server = "3.0.0b4"
jinja2 = "*"
python-status = "*"
pydantic = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.8"
